@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto+Condensed:wght@300&family=RocknRoll+One&display=swap');

:root {
  --black: #000000;
  --light-yellow: #fff9c4;
  --dark-pink: #ad1457;
  --white: #fff;
  --grey: #757575;
  --bright-pink: #ff4081;
}

body {
  font-family: "Roboto Condesed" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.logo {
  width: 100%;
  height: 50%;
} 

.H2-Title {
  font-family: "Roboto Condesed" sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color:#ff4081;
}


/* Navbar CSS */
nav .navbar {
  background-color: var(--grey) !important;
}

nav .navbar-brand {
  color: var(--light-yellow) !important;
  font-weight: bolder;
  letter-spacing: 1.2rem;
}

/* Menu Links */
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* !important  >> this overwrites bootstrap rules */
.navbar-nav > li > a {
  color: var(--light-yellow) !important;
  margin-right: .75rem;
  margin-left: .75rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: .1875rem solid var(--white);
}
/* Hover not working */
/* .navbar-nav > li > a.hover {
  border-top: .1875rem solid var(--light-yellow)!important;
} */



/* About */
#About {
  background-color:  var(--grey) !important;
  width: 100vw;
  padding-left: 13px;
}

.Headshot {
  width: 388px !important;
}

.I-Am {
  color: #fff9c4;
  font-size: 75px;
  font-weight: bolder;
  font-family:'Arial Narrow Bold', sans-serif;
}
.Am-List {
  color: #ff4081;
  font-size: 33px;
}
.Engineer {
  color: #fff9c4;
  font-size: 75px;
  font-weight: bolder;
  font-family:'Arial Narrow Bold', sans-serif;
}
.I-Brand {
  color:#ff4081;
  font-size: 25px;
}

/* Projects */
.Projects{
  padding-top: 13px;
  padding-left: 13px;
}

/* Skills */
.Skills {
  padding-top: 13px;
  padding-left: 13px;
}
.col-lg-2 {
  padding: 8px;
}

.col-lg-2 img {
  width: 75px;
  height: 75px;
}

.Footer {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Gill Sans,sans-serif;
  font-size: 50px; */
  color: grey;

  /* .email {
    padding-right: 30px;
    color:purple;
  }
  .linkedin{
    color: purple;
  }
} */
/* 
// --------------------------
// Projects
// -------------------------- */

}
