
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto+Condensed:wght@300&family=RocknRoll+One&display=swap');

:root {
  --black: #000000;
  --yellow: #ffc107
}

body {
  font-family: "Roboto Condesed" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar CSS */
.logo {
  width: 10.25rem;
  height: 5rem;
}

/* Menu Links */
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  
}

nav ul li {
  text-transform: uppercase;
}

/* !important  >> this overwrites bootstrap rules */
.navbar-nav > li > a {
  color: var(--black) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: .1875rem solid var(--yellow);
}
/* Hover not working */
/* .navbar-nav > li > a.hover {
  border-top: .1875rem solid var(--yellow)!important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

/* // --------------------------
// Header
// -------------------------- */

.header {
  font-family: s 'Lucida Grande', sans-serif;
  font-size: 50px;
  color: gold;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Gill Sans,sans-serif;
  font-size: 50px;
  color: grey;

  /* .email {
    padding-right: 30px;
    color:purple;
  }
  .linkedin{
    color: purple;
  }
} */
/* 
// --------------------------
// Projects
// -------------------------- */

}
